/* CSS regole generali */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-size: 14px;
}

#contenitore {
    height: calc(100vh - 100px);
    display: flex;
}

/* CSS relativo all'aside con gli elementi di navigazione */

aside {
    width: 250px;
    height: 100%;
    background-color: black;
    padding: 20px;
    position: relative;
    /* display: flex;
    flex-wrap: wrap; */
}

aside #logo {
    height: 80px;
    width: 100%;
}

aside #logo img {
    max-width: 70%;
}

aside nav {
    width: 100%;

    /* debug */
    height: 100px;
    background-color: lightblue;
}

aside #playlist {
    width: 100%;
    
    /* debug */
    height: 200px;
    background-color: lightcoral;
}

aside #account {
    width: 100px;
    position: absolute;
    bottom: 10px;
    /* debug */
    height: 50px;
    background-color: lightgreen;
}



/* CSS relativo al main */

main {
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
}

main header {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}


/* CSS relativo al footer che rappresenta il player che sta sempre in basso */

footer {
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}


/* Parte sinistra del player */

footer .player.sx {
    display: flex;
    align-items: center;
}

footer .player.sx #brano-in-riproduzione {
    display: flex;
    align-items: center;
}

footer .player.sx img {
    max-height: 50px;
}

footer .player.sx #info-brano {
    margin: 0 10px;
}

footer .player.sx #info-brano div:first-child {
    font-weight: 700;
    color: white;
}

footer .player.sx #info-brano div:nth-child(2) {
    font-size: 0.7rem;
}

footer .player.sx i {
    margin: 0 5px;
}


/* Parte centrale del player */

.player.cx {
    color: white;
    width: 50%;
}

.player.cx #btn-riproduzione {
    text-align: center;
    margin-bottom: 10px;
}

.player.cx #btn-riproduzione i {
    margin: 0 5px;
}

.player.cx #btn-riproduzione i:nth-child(3) {
    margin: 0 15px;
}

.player.cx #barra {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.player.cx #barra div:nth-child(2) {
    width: 50%;
    height: 3px;
    background-color: grey;
    margin: 0 20px;
    border-radius: 3px;
}

/* selezione per mostrare l'avanzamento del brano in esecuzione nella barra centrale */
.player.cx #barra div:nth-child(2) > div {
    width: 20%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}


/* Parte destra del player */

.player.dx {
    display: flex;
    align-items: center;
}

.player.dx i {
    margin: 0 10px;
}

.player.dx #barra-volume {
    width: 100px;
    height: 3px;
    background-color: grey;
    border-radius: 3px;
    margin-left: 10px;
}

.player.dx #barra-volume div {
    width: 20%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}