/* CSS regole generali */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-size: 13px;
}

#contenitore {
    height: calc(100vh - 100px);
    display: flex;
    overflow-y: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: grey;
    transition: all 0.2s;
}

a:hover {
    color: white;
}


/* CSS relativo all'aside con gli elementi di navigazione */

aside {
    width: 250px;
    height: 100%;
    min-height: 400px;
    background-color: black;
    padding: 20px;
    padding-bottom: 80px;
    position: relative;
    /* overflow-y: hidden; */
}

aside #logo {
    height: 80px;
}

aside #logo img:first-of-type {
    max-width: 70%;
}

aside #logo img:nth-of-type(2) {
    display: none;
}

/* ASIDE parte di navigazione */

aside nav {
    margin-bottom: 20px;
}

aside nav ul li {
    margin-bottom: 5px;
}

aside nav ul li img {
    height: 30px;
    vertical-align: middle;
    filter: invert(0.4);
    transition: all 0.2s;
}

aside a:hover img {
    filter: none;
}

/* ASIDE elenco playlist */

aside #playlist {
    /* height: auto; */
    /* overflow-y: hidden; */
    
    /* debug */
    background-color: lightcoral;
}

aside #playlist h3 {
    text-transform: uppercase;
    color: white;
    margin-bottom: 5px;
}

aside #playlist i {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 5px;
}

aside #playlist span {
    font-size: 1.05rem;
    vertical-align: middle;
}

aside #playlist ul {
    height: auto;
    overflow-y: auto;
}

aside #playlist ul li {
    margin-top: 10px;
}


/* ASIDE sezione account */

aside #account {
    position: absolute;
    bottom: 10px;
    width: 210px;
    /* background-color: black; */
}

aside #account img {
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

aside #account div:first-of-type {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: grey 1px solid;
}

aside #account div:first-of-type img {
    filter: invert(0.4);
    transition: all 0.2s;
}

aside #account div a:hover img {
    filter: none;
}

aside #account div:nth-of-type(2) img {
    background-color: grey;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

aside #account div:nth-of-type(2) span {
    color: white;
    font-weight: 700;
}


/* ASIDE per schermo EXTRA-SMALL */

@media screen and (max-width: 568px) {

    aside {
        width: 55px;
        padding: 10px;
    }

    /* aside .centratura {
        margin: 0 auto;
    } */

    aside #logo {
        height: 40px;
    }
    
    aside #logo img:first-of-type {
        display: none;
    }
    
    aside #logo img:nth-of-type(2) {
        display: block;
        height: 30px;
    }

    aside nav ul li span {
        display: none;
    }

    aside #playlist {
        display: none;
    }

    aside #account {
        width: auto;
    }

    aside #account div {
        text-align: center;
    }

    aside #account div:first-of-type {
        border: none;
    }

    aside #account div span {
        display: none;
    }

    aside #account img {
        margin-right: 0;
    }
}



/* CSS relativo al main */

main {
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
}

/* parte alta con barra trasparente e bottone */

main header {
    height: 100px;
    padding: 20px 15px 0 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;
    z-index: 1;
}

.btn {
    border: white 1px solid;
    border-radius: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: inline-block;
}

.btn:hover {
    transform: scale(1.1);
}

/* parte bassa con nav e contenuti principali */
#contenuti {
    padding: 120px 20px 20px 20px;
    max-height: 100%;
    overflow-y: auto;
}

#contenuti nav {
    margin-bottom: 30px;
}

#contenuti nav ul {
    text-align: center;
}

#contenuti nav ul li {
    display: inline-block;
    margin: 0 10px 10px;
}

#contenuti nav ul li a {
    text-transform: uppercase;
    font-weight: 700;
}

#contenuti h2, #contenuti h3 {
    color: white;
}

#contenuti h2 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

#contenuti h3 {
    margin: 5px 0 10px;
}

.flex {
    display: flex;
    margin: 10px 0 30px;
}

.flex-item {
    width: 15%;
    text-align: center;
    margin: 0 2% 10px 0;
}

.contenitore-img {
    position: relative;
}

.trasparenza {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.trasparenza i {
    font-size: 3rem;
    color: white;
}

.flex-item h3:hover {
    cursor: pointer;
}

.flex-item img {
    max-width: 100%;
    display: block;
}

.popolari .contenitore-img, .popolari img, .popolari .trasparenza {
    border-radius: 50%;
}

.flex-item .contenitore-img:hover {
    cursor: pointer;
}

.flex-item .contenitore-img:hover .trasparenza {
    display: flex;
}

/* MAIN per schermo MEDIUM */

@media screen and (max-width: 1024px) {

    .flex {
        flex-wrap: wrap;
    }

    .flex-item {
        width: 23%;
    }
}

/* MAIN per schermo SMALL */

@media screen and (max-width: 768px) {

    .flex-item {
        width: 46%;
    }
}

/* MAIN per schermo EXTRA-SMALL */

@media screen and (max-width: 568px) {

    main {
        width: calc(100% - 55px);
    }

    main header {
        left: 55px;
    }
}

/* CSS relativo al footer che rappresenta il player che sta sempre in basso */

footer {
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

/* centralizzazione CSS per barra avanzamento e volume */

.barra {
    height: 4px;
    background-color: grey;
    border-radius: 4px;
}

.avanzamento {
    background-color: white;
    position: relative;
}

.pallino {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: -5px;
    top: -3px;
    display: none;
}

.barra:hover {
    cursor: pointer;
}

.barra:hover .avanzamento {
    background-color: yellowgreen;
}

.barra:hover .pallino {
    display: block;
}

/* Parte sinistra del player */

.player.sx {
    display: flex;
    align-items: center;
}

.player.sx #brano-in-riproduzione {
    display: flex;
    align-items: center;
}

.player.sx img {
    max-height: 50px;
}

.player.sx #info-brano {
    margin: 0 10px;
}

.player.sx #info-brano div:first-child {
    font-weight: 700;
    color: white;
}

.player.sx #info-brano a {
    font-size: 0.7rem;
    transition: none;
}

.player.sx #info-brano a:hover {
    text-decoration: underline;
}

.player.sx i {
    margin: 0 5px;
}

.player.sx i:hover {
    color: white;
    cursor: pointer;
}


/* Parte centrale del player */

.player.cx {
    color: white;
    width: 50%;
}

.player.cx #btn-riproduzione {
    text-align: center;
    margin-bottom: 10px;
}

.player.cx #btn-riproduzione i {
    margin: 0 5px;
    vertical-align: middle;
}

.player.cx #btn-riproduzione i:hover {
    cursor: pointer;
}

.player.cx #btn-riproduzione i:nth-child(3) {
    margin: 0 15px;
    font-size: 1.5rem;
}

.player.cx #btn-riproduzione .fa-play-circle:hover {
    transform: scale(1.1);
}

.player.cx #stato-riproduzione {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.player.cx #stato-riproduzione .barra.brano {
    width: 50%;
    margin: 0 20px;
}

.player.cx #stato-riproduzione .barra.avanzamento {
    width: 20%;
}


/* Parte destra del player */

.player.dx {
    display: flex;
    align-items: center;
}

.player.dx i {
    margin: 0 10px;
    color: white;
}

.player.dx .barra.volume {
    width: 100px;
    margin-left: 10px;
}

.player.dx .barra.avanzamento {
    width: 20%;
}


/* FOOTER per schermo EXTRA-SMALL */

@media screen and (max-width: 568px) {

    .player.sx img {
        max-height: 40px;
    }

    .player.cx #btn-riproduzione i:nth-child(3) {
        margin: 0 10px;
    }

    .player.cx #stato-riproduzione .barra.brano {
        margin: 0 10px;
    }

    .player.dx i {
        margin: 0 5px;
    }

    .player.dx .barra.volume {
        margin-left: 5px;
    }
    
}