/* CSS regole generali */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-size: 13px;
}

#contenitore {
    height: calc(100vh - 100px);
    display: flex;
}

ul {
    list-style-type: none;
}


/* CSS relativo all'aside con gli elementi di navigazione */

aside {
    width: 250px;
    height: 100%;
    background-color: black;
    padding: 20px;
    position: relative;
    /* display: flex;
    flex-wrap: wrap; */
}

aside #logo {
    height: 80px;
    width: 100%;
}

aside #logo img {
    max-width: 70%;
}

/* ASIDE parte di navigazione */

aside nav {
    width: 100%;
    margin-bottom: 20px;

    /* debug */
    background-color: lightblue;
}

aside nav ul li {
    margin-bottom: 5px;
}

aside nav ul li img {
    height: 30px;
    vertical-align: middle;
    filter: invert(0.4);
}


/* ASIDE elenco playlist */

aside #playlist {
    width: 100%;
    
    /* debug */
    background-color: lightcoral;
}

aside #playlist h3 {
    text-transform: uppercase;
    color: white;
    margin-bottom: 5px;
}

aside #playlist i {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 5px;
}

aside #playlist span {
    font-size: 1.05rem;
    vertical-align: middle;
}

aside #playlist ul li {
    margin-top: 10px;
}


aside #account {
    width: 100px;
    position: absolute;
    bottom: 10px;
    /* debug */
    height: 50px;
    background-color: lightgreen;
}



/* CSS relativo al main */

main {
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
}

/* parte alta con barra trasparente e bottone */

main header {
    height: 100px;
    line-height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: right;
}

.btn {
    border: white 1px solid;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
}


/* CSS relativo al footer che rappresenta il player che sta sempre in basso */

footer {
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

/* centralizzazione CSS per barra avanzamento e volume */

.barra {
    height: 3px;
    background-color: grey;
    border-radius: 3px;
}

.avanzamento {
    background-color: white;
}

/* Parte sinistra del player */

.player.sx {
    display: flex;
    align-items: center;
}

.player.sx #brano-in-riproduzione {
    display: flex;
    align-items: center;
}

.player.sx img {
    max-height: 50px;
}

.player.sx #info-brano {
    margin: 0 10px;
}

.player.sx #info-brano div:first-child {
    font-weight: 700;
    color: white;
}

.player.sx #info-brano div:nth-child(2) {
    font-size: 0.7rem;
}

.player.sx i {
    margin: 0 5px;
}


/* Parte centrale del player */

.player.cx {
    color: white;
    width: 50%;
}

.player.cx #btn-riproduzione {
    text-align: center;
    margin-bottom: 10px;
}

.player.cx #btn-riproduzione i {
    margin: 0 5px;
}

.player.cx #btn-riproduzione i:nth-child(3) {
    margin: 0 15px;
}

.player.cx #stato-riproduzione {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.player.cx #stato-riproduzione .barra.brano {
    width: 50%;
    margin: 0 20px;
}

.player.cx #stato-riproduzione .barra.avanzamento {
    width: 20%;
}


/* Parte destra del player */

.player.dx {
    display: flex;
    align-items: center;
}

.player.dx i {
    margin: 0 10px;
}

.player.dx .barra.volume {
    width: 100px;
    margin-left: 10px;
}

.player.dx .barra.avanzamento {
    width: 20%;
}


/* FOOTER per schermo SMALL */

@media screen and (max-width: 568px) {

    .player.sx img {
        max-height: 40px;
    }

    .player.cx #btn-riproduzione i:nth-child(3) {
        margin: 0 10px;
    }

    .player.cx #stato-riproduzione .barra.brano {
        margin: 0 10px;
    }

    .player.dx i {
        margin: 0 5px;
    }

    .player.dx .barra.volume {
        margin-left: 5px;
    }
    
}

/* FOOTER per schermo EXTRA-SMALL */

@media screen and (max-width: 420px) {
    
    .player.sx img {
        display: none;
    }

    .player.sx #info-brano {
        margin-left: 0;
    }
}